@import "desktop.css";



header{
  width: 410px;
}

main{
  width: 400px;
}

footer{
  width: 455px;
}

nav{
  width: 350px;
}

nav ul{
  margin-left: -20px;
}

nav ul li{
  display: block;
  text-align: center;

}

nav ul li a{
  font-size: 18px;
}

#grid1{
  width: 400px;
  display: block;


}


#AMG{
  width: 400px;
  display: block;

}

#AMG img{
  width: 380px;
  margin: 75px auto;
  display: block;



}

#Porsche{
  width: 400px;
  display: block;

}

#Porsche img{
  width: 380px;
  margin: 75px auto;
  display: block;
}

#gle63s{
  width: 400px;
  display: block;
}

#gle63s img{
  width: 380px;
  margin: 75px auto;
  display: block;
}

#panamera{
  width: 400px;
  display: block;
}

#panamera img{
  width: 380px;
  margin: 75px auto;
  display: block;
}
